        <div class="container-fluid vh-50" style="margin-top:125px">
            <div class="" style="margin-top:125px">
                <div class="rounded d-flex justify-content-center">
                    <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
                        <div class="text-center">
                            <h3 class="text-primary">Kullanıcı Girişi</h3>
                        </div>
                        <form action="">
                            <div class="p-4">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Kullanıcı Adı">
                                </div>
                                <div class="input-group mb-3">
                                    <input type="password" class="form-control" placeholder="Şifre">
                                </div>
                                <div class="text-danger">
                                    <label>Something went wrong</label>
                                </div>
                                <button class="btn btn-primary text-center mt-2 " type="submit">
                                    Giriş Yap
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>